
    
<%- include('./partials/header') %>

<h1>Showing a particular Blog</h1>

<div id="showw">

    <h1><%=foundProduct.id%></h1>
    <h2><%=foundProduct.author%></h2>
    <p><%=foundProduct.comment%></p>
    <p><button> <a href="/blogs">Back</a> </button></p>
</div>

<%- include('./partials/footer') %>